# .env config
PROJECT_NAME="Nales-It API"
MONGODB_URI="mongodb://admin:password@localhost:27017"
DATABASE_NAME="nales_it"
# Bắt buộc phải điền Key của bạn vào đây:
GEMINI_API_KEY="AIzaSyYourGeminiKeyHere..."
OPENAI_API_KEY=""
